@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$bg : url("./assets/slideshow-1.png");

$unnamed-color-272b90 : #272B90;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #ffffff;
}

$unnamed-color-272b90: #272B90;
$blue-mixed: #384198;

$yellow: #FFE86E;
$white-white: #FFFFFF;
$grey-green: #707070CC;
$grey-grey: #818181CC;
$white-grey: #D7D6E3;
$white-grey2: #D6D4EC;

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #ffffff;
}


header {
  padding-top: clamp(2rem, 3rem, 2vw);
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;

  width: 100vw;
  flex-wrap: wrap;

  .logo {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 0px;
    overflow: wrap;


    img {

      width: 20vw;
      min-width: 5rem;
      max-width: 166px;
      aspect-ratio: 1;

    }
  }

  .nav-bar {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inherit;
      padding: 0em 1em;
      letter-spacing: -0.38px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      height: fit-content
    }

    .search {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $unnamed-color-272b90;
      border-radius: 50%;
      border: none;
      width: 45px;
      height: 45px;
      cursor: pointer;

    }
  }
}

.slides {
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)), $bg;
  min-height: 40em;
  max-height: 800px;
  height: 100vw;
  width: 100vw;
  z-index: -1;
  background-size: cover;
  background-position: 70%;
  position: relative;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -2px;
    font-family: "Satisfy";
    font-size: clamp(30px, 76px, 7vw);
    text-align: center;
    color: white;
    overflow: hidden;
    width: 100vw;

    img {
      padding-top: 3rem;
      min-width: 1000px;
      width: 100vw;
    }

    .arrow {
      position: absolute;
      bottom: 0px;
    }

  }
}

main {
  .hero {
    padding: clamp(50px, 100px, 10vw) 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;



    img {
      min-width: 200px;
      width: 100vw;
      max-width: 300px;
    }

    .hero-content {

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      letter-spacing: 0px;

      p,
      h1 {
        width: clamp(200px, 602px, 90vw);
      }

      h1 {
        font: normal normal bold 40px/44px Quicksand;
        letter-spacing: 0px;
        color: $unnamed-color-272b90;
      }

      button {
        color: white;
        background-color: $unnamed-color-272b90;
        border-radius: 2rem;
        width: fit-content;
        text-align: center;
        font: normal normal bold 19px/35px Quicksand;
        letter-spacing: -0.38px;
        width: 167px;
        height: 49px;
        border: none;
        cursor: pointer;
      }
    }
  }

  position: relative;

  .leaves {
    position: absolute;

    width: 100vw;
    bottom: 0px;
    z-index: -1;

    img {

      width: 305px;
      height: 328px;

      &:nth-child(1) {
        transform: rotate(290deg);
      }

      &:nth-child(2) {
        transform: rotate(10deg);
      }

      &:nth-child(3) {
        transform: rotate(180deg);
      }

      &:nth-child(4) {
        transform: rotate(90deg);
      }
    }
  }

  overflow: hidden;
  width: 100vw;

  .border {
    margin-bottom: -10px;
    padding-top: 3rem;
    min-width: 1000px;
    width: 100vw;
  }

  .flipped {
    margin-top: -10px;
    transform: rotate(180deg);
  }

  .year-groups {
    padding: clamp(50px, 100px, 10vw) 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $unnamed-color-272b90;

    .arrow {
      background-color: #ffffff;
      color: #D7D6E3;
    }

    div {

      text-align: left;
      font: normal normal bold 35px/44px Quicksand;
      letter-spacing: -0.7px;
      color: #FFFFFF;

      display: flex;
      flex-direction: column;
      align-items: center;


      .leaf {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url("./assets/leaf.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% 70%;
        background-color: #ffffff;
      }

      &:hover {
        .leaf {
          background-image: url("./assets/yellow-leaf.png");
        }

        text-decoration: underline;
      }
    }
  }
}




.arrow {
  color: white;
  background-color: $unnamed-color-272b90;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  cursor: pointer;
}